/thrunk/klaviyo.net/klaviyo.net.v11.suo
/thrunk/klaviyo.net/klaviyo.net/bin

/thrunk/klaviyo.net/klaviyo.net/obj
/thrunk/klaviyo.test-client/bin
/thrunk/klaviyo.test-client/obj

/trunk/klaviyo.net/klaviyo.net/bin
/trunk/klaviyo.net/klaviyo.net/obj
/trunk/klaviyo.test-client/bin
/trunk/klaviyo.test-client/obj
/trunk/klaviyo.net/klaviyo.net.v11.suo
/trunk/klaviyo.net/.vs/klaviyo.net/v16
